/* Global */
@font-face {
    font-family: logo;
    src: url(../fonts/5\ Thumbs\ Up\ Bold.otf);
}

/* Header Global*/

#logo {
    font-size: 30px;
    font-family: logo;
}

/* Main */

main{
    min-height: 100vh;
}

.carrossel-imagem{
    min-height: 70vh;
}

#cartaz{
    width: 70%;
}

.filme {
    width: 250px;
    height: 450px;
    border-radius: 15px;
}

.filme-capa {
    width: 200px;
    height: 350px;
    border-radius: 15px;
}

.poltrona{
    width: 15px;
    height: 15px;
    border: none;
    border: 2px solid #343434;
    background-color: gray;
}

.poltrona-cheia{
    width: 15px;
    height: 15px;
    border: none;
    border: 2px solid #343434;
    background-color: rgb(73, 73, 73);
}
    
/* Footer global */

footer {
    height: 200px;
}