/* Global */
@font-face {
    font-family: logo;
    src: url(../fonts/5\ Thumbs\ Up\ Bold.otf);
}

/* Header Global*/

#logo {
    font-size: 30px;
    font-family: logo;
}

/* Main */

main{
    min-height: 100vh;
}

.carrossel-imagem{
    min-height: 70vh;
}

#cartaz{
    width: 70%;
}

.filme {
    background-color: #475155;
    width: 250px;
    height: 350px;
    border-radius: 15px;
}

/* Footer global */

footer {
    height: 200px;
}