* {
    margin: 0%;
    padding: 0%;
}

input {
    margin: 5px;
}

body {
    background-color: antiquewhite;
}

main {
    margin: 10px 50px;
    background-color: aliceblue;
    border-radius: 10%;
    padding: 30px;
}

main h4 {
    text-align: center;
    margin: 10px 0px;
}

hr {
    margin: 2px 0px;
}