* {
    margin: 0%;
    padding: 0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

hr {
    width: 80%;
    border: 1px solid red;
    margin: 10px;
}

/* Header PC*/

header {
    background-color: #2A2B2A;
    width: 100%;
    height: 100px;
    color: aliceblue;
    display: flex;
}

#banner {
    width: 50%;
    height: 100%;
    font-size: large;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul {
    width: 50%;
    height: 100%;
    font-weight: bold;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

li {
    height: 100px;
    padding: 0px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

li:hover {
    background-color: #202020;
}

a {
    text-decoration: none;
    color: aliceblue;
}

#btnMobile {
    display: none;
}

/* Body PC*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titulo {
    width: 30%;
    margin-top: 10px;
    text-align: center;
    padding: 5px;
    border-radius: 2px;
}

#elizabeth {
    margin: 40px;
    width: 40%;
    text-align: center;
    border: 1px rgba(112, 128, 144, 0.479) solid;
    border-radius: 5px;
    padding: 20px;
}

#elizabeth img {
    width: 90%;
}

#elizabeth button {
    color: white;
    background-color: #eb0335;
    border-radius: 5px;
    padding: 10px;
    border: none;
    font-weight: bold;
}

#catalogo {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
} 

#catalogoItens {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-items: center;
    gap: 20px;
}

.item {
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.item img {
    width: 80%;
}