* {
    margin: 0%;
    padding: 0%;
}

#cabecalho {
    background-color: #e98ed5;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#cabecalho h1 {
    font-size: 40px;
    font-family: cursive;
    color: whitesmoke;
}

#logo {
    margin-left: 20px; */
    text-align: left;
}

#logo img {
    width: 100px;
}

body {
    background-color: #2b2c2b;
}

a {
    color: aliceblue;
}

#corpo {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.catalogo {
    margin-top: 30px;
    color: whitesmoke;
    text-align: center;
}

.cartazes {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 20px;
    height: 250px;
    width: 350px;
    border-radius: 15px;
}

.cartazes img {
    width: 80%;
}